<div class="login-wrapper">
    <h2 class="login__headning">Welcome to Admin page</h2>
    <h3 class="login__subheadning">Please Sign in or  <a class="login__link-back" href="/"> return to main page</a></h3>
    <form action='/admin/login' method="post">
        <div class="input__wrapper">
            <input type="email" class="input" name="email" placeholder="email" required>
        </div>
        <div class="input__wrapper">
            <input type="password" class="input" name="password" placeholder="password" required>
        </div>
        <div class="btn__wrapper">
            <button type="submit" class="btn_submit">Submit</button>
        </div>
    </form>
</div>