        <form action='/admin/login' method="post">
            <div class="input__wrapper">
                <input type="email" class="input" name="email" placeholder="email"  required>
            </div>
            <div class="input__wrapper">
                <input type="password" class="input" name="password" placeholder="password" required>
            </div>
            <div class="btn__wrapper">
                <button type="submit" class="btn_submit">Submit</button>
            </div>
        </form>